{{> navigation}}
<main>
    <div class="container">
        <h1>{{story.story_name}}</h1>
        <p>Created: {{formattedDate}}</p>
        <section class="main">
            <div class="button-container">
                {{#if owner}}
                    <button class="primary" onclick="showStoryModal()">Update story</button>
                {{/if}}
            </div>
            <p class="medium">{{story.story_description}}</p>
            <h2>Images</h2>
            <section class="story-document">
                {{#each images}}
                    <figure class="story-image">
                        <a href="/story/{{this.storyId}}/document/{{this.documentId}}" data-lightbox="story" data-title="{{this.name}}">
                            <img src="/story/{{this.storyId}}/document/{{this.documentId}}" alt="Story images">
                        </a>
                    </figure>
                {{else}}
                    <p class="medium">There are no images in this section.</p>
                {{/each}}
            </section>
            <h2>Documents</h2>
            <section class="story-document">
                {{#if (notEmpty documents)}}
                    <table class="primary">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created at</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each documents}}
                                <tr>
                                    <td><a href="/story/{{this.storyId}}/document/{{this.documentId}}">{{this.name}}</a></td>
                                    <td>Date</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{^}}
                    <p class="medium">There are no documents in this section.</p>
                {{/if}}
            </section>
            {{#if owner}}
                <h3>Upload</h3>
                <section class="story-upload">
                    <div class="upload-section">
                        <div class="upload-instructions">Drag & Drop or select your files</div>
                        <input type="file" id="files" name="files" multiple>
                    </div>
                    <button class="primary" onclick="uploadItems()">Upload</button>
                </section>
            {{/if}}
            <section class="comment-section">
                <h3>Comments</h3>
                <div class="comments">
                    <!-- Dynamic content -->
                    {{#if loggedIn}}
                        <div class="comment-input">
                            <input name="comment" type="text" placeholder="Let the other people know what do you think">
                            <button class="primary" onclick="addComment()">Send</button>
                        </div>
                    {{/if}}
                </div>
            </section>
        </section>
    </div>
</main>
{{> loginModal}}
{{> storyModal}}
{{> footer}}
<script src="/assets/lightbox2-2.11.3/dist/js/lightbox-plus-jquery.js"></script>
<script src="/js/storyVisibility.js"></script>
<script src="/js/upload.js"></script>
<script src="/js/story.js"></script>